*{
  margin: 0;
  padding: 0 !important;
  background-color: #121219;
}

ul{
  list-style-type:none;
  line-height: 65px;
  color: white;
}
ul li{
  padding-left: 50px !important;
  margin: 10px 0;
  font-size: 20px;
}

ul span{
  padding: 10px !important;
  border-radius: 10px;
}

.col-3{
  border-right: 1px solid white;
}

ul li{
  transition: all ease-in-out 0.2s;
}

ul li:hover{
  cursor: crosshair;
  transform: translateY(-10px);
}
